{% extends "photo_app/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block body_block %}


    <h3>Upload your photo here.</h3><hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <input type="file" name="myfile"><hr>
        <button type="submit" class="btn btn-primary">Upload</button><hr>
    </form>

    {% if uploaded_file_url %}
        <p>Photo Uploaded: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}

{% endblock %}